---
import BasicLayout from '../layout/BasicLayout.astro';
---


<BasicLayout title="Home">
  <a href="https://Alexouuuuuuuuuuu.github.io/projet2/" class="text-3xl font-bold underline">
    <h1>
      Hello world!
    </h1>
  </a>
</BasicLayout>